.logger-area {
  border: 3px solid violet;
  padding: 30px 20px;
  font-size: 14px;
  min-height: 400px;
  min-width: 200px;
  display: inline-block;
  margin-right: 100% ;
}


.container {
  display: flex;
}


.ng-invalid.ng-touched {
    border: 1px solid red;
}