

<button routerLink="/llModule">Go to LL module</button>
<div>=====================</div>
<router-outlet></router-outlet>
<div>=====================</div>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input type="text" formControlName="firstName" id="firstName" >
    <p *ngIf="profileForm.controls.firstName.invalid && (profileForm.controls.firstName.touched || profileForm.controls.firstName.dirty)">Name is Invalid!!!</p>
  </label>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>

  <div formGroupName="range">
    min: <input formControlName="min" type="number">
    max: <input formControlName="max" type="number">
    {{profileForm.controls?.range?.errors | json}}
    <p *ngIf="profileForm.controls?.range?.errors">
      Wrong Range!!!
    </p>
  </div>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<p [hidden]="false" [myD]="'blue'" 
*myStrDir="{delay: 1000, color: 'yellow'}; let time = loadTime; let myImplicitMessage"
>
  {{time}}
  {{myImplicitMessage}}
  Form Status: {{ profileForm.status }}
</p>

<div class="logger-area" [class.myClass]="true" [style.border]="'1px solid red'">
  <div *ngFor="let log of ls.loggs; let i = index">
    {{i}}: {{log}}
  </div>
</div>
<button (click)="ls.clearLogs()" [appHighlight]>Clear</button>
<button (click)="cubeWidth = cubeWidth + 20" [appHighlight]="'orange'">+ width</button>
<button (click)="cubeHeight = cubeHeight + 20">+ height</button>
<button (click)="toggle()">Toggle</button>
<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>

<ng-template #tmpl
  let-name
  let-myAge = age
>
  My Template:::
  {{name}} {{myAge}}
</ng-template>

<div class="container" #entry>
  <div *ngFor="let cube of colors; let i = index; let odd = odd; trackBy: trackByColor">
    <app-cube
    #cube
    *appDelay="500 * i; let time = loadTime"
    [appHighlight]="'orange'"
    [textColor]="'blue'"
    (clicked)="onHClicked($event)"
    [height]="cubeHeight"
    [width]="cubeWidth"
    [text]="(time | exponent: 2).toFixed(2)"
    [backgroundColor]="cube"
    (cubeClicked)="getEvent($event)"
  >
    <p>Cube is here</p>
  </app-cube>
  </div>


  <ng-template
    ngFor let-cube [ngForOf]="colors" let-i="index" let-odd="odd" [ngForTrackBy]="trackByColor"
  >

  <app-cube
    *appDelay="500 * i; let time = loadTime; let someImplicit"
    [text]="time.toFixed(2) + someImplicit"
    [appHighlight]="'orange'"
    [textColor]="'blue'"
    (clicked)="onHClicked($event)"
    [height]="cubeHeight"
    [width]="cubeWidth"
    [backgroundColor]="cube"
    (cubeClicked)="getEvent($event)"
  ></app-cube>


  </ng-template>

  <div #entry2></div>
</div>

<div>
<app-test></app-test>
</div>



